@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* 白色 */
/* ピンク */
/* 濃ピンク */
.clearfix::after {
  content: '';
  display: block;
  clear: both; }

body {
  font-size: 62.5%;
  background-color: #ffdeef;
  width: 100%; }

header {
  width: 100%;
  /* menu_area ここまで */
  /* @media ここまで */
  /* top_area ここまで */
  /* media ここまで */ }
  header #menu_area {
    width: 100%;
    background-color: #ff399c;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    background: #ff399c;
    z-index: 1000;
    /* menu_content ここまで */
    /* hamburger_menu_toggle ここまで */ }
    header #menu_area .menu_content {
      margin-left: 100px;
      width: 70%;
      /*
      align-items: center;
      */
      /* logo ここまで */
      /* navi ここまで */ }
      header #menu_area .menu_content .logo {
        display: inline-block;
        font-size: 2rem;
        margin-right: 20px;
        /*p ここまで */ }
      header #menu_area .menu_content .navi {
        display: inline-block;
        background-color: #ffffff;
        padding: 6px;
        border-radius: 30px;
        /* pc_navi ここまで */
        /* hamburger_menu ここまで */ }
        header #menu_area .menu_content .navi .pc_navi {
          display: none; }
    header #menu_area .hamburger_menu_toggle {
      position: absolute;
      width: 100%;
      height: 200px;
      display: none;
      z-index: 1050;
      background-color: #ffffff;
      padding-bottom: 10px;
      /* li ここまで */ }
      header #menu_area .hamburger_menu_toggle li {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #ff399c;
        /* a ここまで */ }
        header #menu_area .hamburger_menu_toggle li a {
          color: black;
          text-decoration: none; }
  @media (min-width: 550px) {
    header {
      /* menu_area ここまで */ }
      header #menu_area {
        /* menu_content ここまで */ }
        header #menu_area .menu_content {
          /* logo ここまで */
          /* navi ここまで */ }
          header #menu_area .menu_content .logo {
            /*p ここまで */ }
          header #menu_area .menu_content .navi {
            background-color: #ff399c;
            /* pc_navi ここまで */
            /* hamburger_menu ここまで */ }
            header #menu_area .menu_content .navi .pc_navi {
              display: block;
              /* ul ここまで */ }
              header #menu_area .menu_content .navi .pc_navi ul {
                /* li ここまで */ }
                header #menu_area .menu_content .navi .pc_navi ul li {
                  display: inline-block;
                  /* a ここまで */ }
                  header #menu_area .menu_content .navi .pc_navi ul li a {
                    color: #ffffff; }
            header #menu_area .menu_content .navi .hamburger_menu {
              display: none; } }
  header #top_area {
    width: 100%;
    /* top_picture ここまで */ }
    header #top_area .top_picture {
      width: 100%;
      /* img ここまで */ }
      header #top_area .top_picture img {
        width: 100%; }
  @media (min-width: 550px) {
    header {
      /* top_area ここまで */ }
      header #top_area {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        /* top_picture ここまで */ }
        header #top_area .top_picture {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          /* img ここまで */ }
          header #top_area .top_picture img {
            width: 100%; } }

/* header ここまで */
main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  /* @media ここまで　*/
  /* heal_area ここまで */
  /* @media ここまで */
  /* dairy_area ここまで */
  /* @media ここまで */
  /* preserve_area ここまで */ }
  @media (min-width: 550px) {
    main {
      width: 80%; } }
  main #heal_area {
    width: 100%;
    /* h1 ここまで */
    /* display_area ここまで */ }
    main #heal_area h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: #ffffff; }
    main #heal_area .display_area {
      width: 100%;
      margin-bottom: 15px;
      background-color: #ffffff;
      /* display_box ここまで */ }
      main #heal_area .display_area .display_box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /* h2 ここまで */
        /* each_display ここまで */ }
        main #heal_area .display_area .display_box h2 {
          padding-top: 15px;
          padding-bottom: 15px;
          font-size: 1rem; }
        main #heal_area .display_area .display_box .each_display {
          /* main_display ここまで */
          /* ul ここまで */ }
          main #heal_area .display_area .display_box .each_display .main_display {
            width: 100%;
            /* img ここまで */ }
            main #heal_area .display_area .display_box .each_display .main_display img {
              width: 100%; }
          main #heal_area .display_area .display_box .each_display ul {
            margin-top: 10px;
            flex-wrap: wrap;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            -webkit-flex-direction: row;
            flex-direction: row;
            /* li ここまで */ }
            main #heal_area .display_area .display_box .each_display ul li {
              width: 31%;
              margin-bottom: 10px;
              /* img ここまで */ }
              main #heal_area .display_area .display_box .each_display ul li img {
                width: 100%; }
  @media (min-width: 550px) {
    main {
      /* heal_area ここまで */ }
      main #heal_area {
        /* h1 ここまで */
        /* display_area ここまで */ }
        main #heal_area .display_area {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 20px;
          /* display_box ここまで */ }
          main #heal_area .display_area .display_box {
            /* h2 ここまで */
            /* each_display ここまで */ }
            main #heal_area .display_area .display_box .each_display {
              width: 100%;
              /* main_display ここまで */
              /* ul ここまで */ }
              main #heal_area .display_area .display_box .each_display .main_display {
                width: 62%;
                float: left;
                /* img ここまで */ }
              main #heal_area .display_area .display_box .each_display ul {
                width: 36%;
                float: right;
                margin-top: 0px;
                margin-left: 0px;
                /* li ここまで */ }
                main #heal_area .display_area .display_box .each_display ul li {
                  width: 48%;
                  margin-bottom: 5px;
                  /* img ここまで */ } }
  main #dairy_area {
    width: 100%;
    margin-top: 10px;
    /* h2 ここまで */
    /* main_dairy_box ここまで */ }
    main #dairy_area h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: #ffffff;
      text-align: center; }
    main #dairy_area .main_dairy_box {
      /* each_dairy_box ここまで */ }
      main #dairy_area .main_dairy_box .each_dairy_box {
        width: 100%;
        background-color: #ffffff;
        padding-top: 10px;
        margin-bottom: 20px;
        /* dairy_content ここまで */ }
        main #dairy_area .main_dairy_box .each_dairy_box .dairy_content {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          /* ul ここまで */
          /* dairy_sentence ここまで */
          /* p ここまで */ }
          main #dairy_area .main_dairy_box .each_dairy_box .dairy_content ul {
            margin-bottom: 10px;
            /* li ここまで */ }
            main #dairy_area .main_dairy_box .each_dairy_box .dairy_content ul li {
              width: 100%;
              /* img ここまで */ }
              main #dairy_area .main_dairy_box .each_dairy_box .dairy_content ul li img {
                width: 100%; }
          main #dairy_area .main_dairy_box .each_dairy_box .dairy_content .dairy_sentence {
            width: 100%; }
          main #dairy_area .main_dairy_box .each_dairy_box .dairy_content p {
            padding-top: 10px;
            padding-bottom: 20px;
            font-size: 1rem;
            line-height: 1.5; }
  @media (min-width: 550px) {
    main {
      /* dairy_area ここまで */ }
      main #dairy_area {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /* h2 ここまで */
        /* main_dairy_box ここまで */ }
        main #dairy_area .main_dairy_box {
          flex-wrap: wrap;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
          -webkit-flex-direction: row;
          flex-direction: row;
          /* each_dairy_box ここまで */ }
          main #dairy_area .main_dairy_box .each_dairy_box {
            width: 48%;
            background-color: #ffffff;
            /* dairy_content ここまで */ }
            main #dairy_area .main_dairy_box .each_dairy_box .dairy_content {
              width: 90%;
              margin-left: auto;
              margin-right: auto;
              /* ul ここまで */
              /* dairy_sentence ここまで */
              /* p ここまで */ }
              main #dairy_area .main_dairy_box .each_dairy_box .dairy_content ul {
                /* li ここまで */ }
                main #dairy_area .main_dairy_box .each_dairy_box .dairy_content ul li {
                  /* img ここまで */ }
                  main #dairy_area .main_dairy_box .each_dairy_box .dairy_content ul li img {
                    width: 100%; } }
  main #preserve_area {
    /* h2 ここまで */
    /* preserve_box ここまで */ }
    main #preserve_area h2 {
      text-align: center;
      font-size: 1.5rem;
      color: #ffffff; }
    main #preserve_area .preserve_box {
      width: 100%;
      margin-top: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #ffffff;
      /* preserve_text ここまで */ }
      main #preserve_area .preserve_box .preserve_text {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /* thanks_message ここまで */
        /* preserve_link ここまで */
        /* preserve_link:active ここまで */ }
        main #preserve_area .preserve_box .preserve_text .thanks_message {
          /* p ここまで */ }
          main #preserve_area .preserve_box .preserve_text .thanks_message p {
            font-size: 1rem;
            line-height: 1.5; }
        main #preserve_area .preserve_box .preserve_text .preserve_link {
          margin-top: 15px;
          display: block;
          width: 60%;
          margin-left: auto;
          margin-right: auto;
          padding-top: 10px;
          padding-bottom: 10px;
          text-decoration: none;
          background: #ff399c;
          /*ボタン色*/
          color: #FFF;
          border-bottom: solid 4px #627295;
          border-radius: 3px;
          /*p ここまで */ }
          main #preserve_area .preserve_box .preserve_text .preserve_link p {
            text-align: center;
            font-size: 1rem;
            padding: 0.5em 1em; }
        main #preserve_area .preserve_box .preserve_text .preserve_link:active {
          /*ボタンを押したとき*/
          -ms-transform: translateY(4px);
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
          /*下に動く*/
          border-bottom: none;
          /*線を消す*/ }

/* main ここまで */
footer {
  margin-top: 15px;
  margin-bottom: 15px;
  /* section ここまで */ }
  footer section {
    text-align: center;
    font-size: 1rem;
    color: #ffffff; }

/* footer ここまで */

/*# sourceMappingURL=style.css.map */
